<!DOCTYPE html>
<html>

<head>
  <title>Account | Gospel Toolbox</title>
  <link rel="stylesheet" href="/jspm_packages/github/twbs/bootstrap@4.0.0-alpha.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>


  <div class="container">
    <div class="row login-box">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
          <img class="img-logo" src="/assets/images/FormHeader.png" alt="">

          <div class="container">
          <div class="row">
            <div class="col-sm-12" style="padding: 2em;">
              <b><%= client.name %></b> is requesting <b>full access</b> to your account.
            </div>
          </div>

          <form action="/auth/authorize" method="post">
            <input name="transaction_id" type="hidden" value="<%= transactionID %>">
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-success" style="width:100%" type="submit" id="allow">
                  <i class="fa fa-check"></i>
                    Allow
                </button>
              </div>
              <div class="col-sm-6">
                <buton class="btn btn-danger" style="width:100%" type="submit" value="Deny" name="cancel" id="deny">
                  <i class="fa fa-ban"></i>
                  Deny
                </buton>
              </div>
            </div>




            <div>


            </div>
          </form>

        </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>