<html>

<head>
    <title>Account | Gospel Toolbox</title>
    <link rel="stylesheet" href="/jspm_packages/github/twbs/bootstrap@4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>


<div class="container">
     <div class="row login-box">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="img-logo" src="/assets/images/FormHeader.png" alt="">
                <form class="form-signin" method="POST">
                <input type="text" class="form-control" placeholder="Email" name="username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create a new account </a>
        </div>
    </div>
</div>

<!--
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-4">
                <img src="/assets/images/NameLogoLongWhite.png" style="width: 100%;">
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-4">
                <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
            </div>
        </div>

        <div class="row omb_login">
            <div class="col-sm-12 col-md-4 col-md-offset-4 login-form">


                <!----------------------------------------------------------------
                 Login form
                ----------------------------------------------------------------->
               <!-- <div class="row">
                    <div class="col-xs-12">
                        <form class="omb_loginForm" autocomplete="off" method="POST">

                            <span class="help-block">
                            <ul>
                                <% errors.forEach(function(message) { %>
                                    <li>
                                        <%= message %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </span>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" name="username" placeholder="email address">
                                </div>
                                <span class="help-block"></span>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                            </div>


                            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
					<input type="checkbox" value="remember-me" class="form-check-input">Remember Me
                
				</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <p class="omb_forgotPwd">
                            <a href="#">Forgot password?</a>
                        </p>
                    </div>
                </div> -->

                <!----------------------------------------------------------------
                 OR
                ----------------------------------------------------------------->
                <!--<div class="row omb_row-sm-offset-3 omb_loginOr">
                    <div class="col-xs-12 col-sm-6">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr">or</span>
                    </div>
                </div>-->

                <!----------------------------------------------------------------
                 Social Logins
                ----------------------------------------------------------------->
                <!--<div class="row omb_socialButtons">
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                            <i class="fa fa-twitter visible-xs"></i>
                            <span class="hidden-xs">Twitter</span>
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-lg btn-block omb_btn-google">
                            <i class="fa fa-google-plus visible-xs"></i>
                            <span class="hidden-xs">Google+</span>
                        </a>
                    </div>
                </div>-->

<!--
            </div>
        </div>

    </div>-->


</body>

</html>