<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 *ngIf="organization?._id">Edit Organization</h1>
            <h1 *ngIf="!organization?._id">New Organization</h1>
        </div>
    </div>
    <div class="row" *ngIf="organization">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Organization Name</label>
                <input [(ngModel)]="organization.name" type="text" class="form-control">
            </div>
            <button class="btn btn-primary" (click)="saveOrganization(organization)">Save</button>
        </div>
    </div>
</div>