/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 $primary: #01579b;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

@import "bootstrap/scss/bootstrap";

body.application {
  padding-top: 3.6rem;
}

body.no-nav {
  background-color: $primary;
}

.nav-border-left {
  border-left: darken($primary, 10%) 2px solid;
  padding-left: 10px;
  margin-left: 10px;
}

.link-github {
  line-height: 30px;
  
  img {
    height: 20px;
  }
}

.app-wrapper {
  padding-top: 1.4rem;
}

.bg-dark {
  background-color: #01579b !important;
}

.navbar .dropdown-menu a:hover {
  color: #000 !important;
}

.btn.btn-facebook {
  background-color: #3b5998;
  color: #fff !important;
}

.btn.btn-twitter {
  background-color: #55acee;
  color: #fff !important;
}

.btn.btn-google {
  background-color: #dd4b39;
  color: #fff !important;
}

p.separator {
  position: relative;
  margin: 1em 0;
  text-align: center;
  color: #b3b3b3;

  span {
    background-color: #fff;
    padding: 0 1em;
    position: relative;
    z-index: 1;
    font-style: italic;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    top: 50%;
    left: 0;
  }
}